.favorite-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
  justify-content: center;
}

.favorite-card {
  /* border: 1px solid white; */
  text-align: center;
  margin-bottom: 10px;
}
.favorite-poster {
  max-height: 250px;
}

.remove-button {
  margin: auto;
}

.favorite-banner {
  height: 50vh;
  background-size: cover;
  width: 100%;
}
