.tv-banner {
  height: 50vh;
  margin-bottom: 20px;
}

.tv-content-container {
  max-width: 1024px;
  display: flex;

  margin: auto;
}

.tv-image {
  width: 30%;
  border-radius: 12px;
  margin-right: 10px;
}

.tv-content-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  gap: 10px;
}

.tv-sub-info {
  display: flex;
  align-items: center;
  gap: 5px;
}

.tv-crew-info {
  display: flex;
  gap: 5px;
  align-items: center;
}
.tv-seasons {
  padding: 0.5rem 1.5rem;
  border: 2px solid white;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: 800;
}
.tv-genres {
  display: flex;
  align-items: center;
  gap: 5px;
}
.genre-chip {
  padding: 0.5rem 1.5rem;
  border: 2px solid white;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: 800;
}

.tv-description {
  text-align: center;
}

/* .tv-video-container {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 10px;
}

.tv-video-container::-webkit-scrollbar {
  display: none;
}

.tv-video {
  margin-right: 10px;
  border-radius: 8px;
}

.tv-video-row {
  color: white;
  margin-left: 20px;
  margin-top: 10px;
} */

@media only screen and (max-width: 600px) {
  .tv-title {
    font-size: 20px;
  }
  .tv-content-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    align-items: center;
  }
  .tv-img {
    transform: scale(1);
  }
  .tv-description {
    font-size: 13px;
  }

  .tv-seasons {
    padding: 0.3rem;
    font-size: 0.8rem;
  }

  .genre-chip {
    padding: 0.4rem;
    font-size: 0.8rem;
  }

  .director-chip {
    padding: 0.4rem;
    font-size: 0.8rem;
  }
}
