* {
  margin: 0;
  box-sizing: border-box;
}

/* body {
  margin: 0;
} */
.app {
  background-color: #111;
}

.movie-img {
  border-radius: 12px;
  width: 170px;
  height: 220px;
}
.border-line {
  border: solid;
  border-width: thin;
}

.home-logo {
  cursor: pointer;
}
