* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
}

.app {
  background-color: black;
  /* background-image: url("/public/background.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
}

.movie-img {
  border-radius: 12px;
  width: 170px;
  height: 220px;
}
.border-line {
  border: solid;
  border-width: thin;
}

.home-logo {
  cursor: pointer;
}
